<form class='mt-4 mx-4' method='POST' action='/courses/store'>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Tiêu đề:</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            aria-describedby='emailHelp'
            name='title'
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Mô tả khóa học</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            aria-describedby='emailHelp'
            name='description'
        />
    </div>
    <div class='mb-3'>
        <label for='exampleInputEmail1' class='form-label'>Video Id</label>
        <input
            type='text'
            class='form-control'
            id='exampleInputEmail1'
            aria-describedby='emailHelp'
            name='videoId'
        />
    </div>
    <button type='submit' class='btn btn-primary'>Thêm Khóa Học</button>
</form>