<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container d-flex justify-content-between'>
        <a class='navbar-brand' href='/'>F8 Online Course</a>
        <ul class='navbar-nav'>
            <li class='nav-item dropdown'>

                <a
                    class='nav-link dropdown-toggle'
                    href='#'
                    id='navbarDropdown'
                    role='button'
                    data-bs-toggle='dropdown'
                    aria-expanded='false'
                >
                    <img
                        style='
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-left: 10px;;
                        '
                        src='https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png'
                        alt='Avatar F8'
                        class='avt-user'
                    />
                    Khánh Hòa
                </a>
                <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
                    <li>
                        <a class='dropdown-item' href='/courses/create'>Thêm
                            khóa học</a>
                    </li>
                    <li><hr class='dropdown-divider' /></li>
                    <li>
                        <a class='dropdown-item' href='/me/course'>Khóa học của
                            tôi</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>